@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
:root {    
    --e-accent: #1e88e5;
    --e-accent-darker: #005cb2;
    --e-accent-darkest: #01488b;
    --e-accent-text: #ffffff; 
}

.dark {
    --e-pri: #151925;
    --e-sec: #293241;
    --e-sec-darker: #1d2431;
    --e-sec-darkest: #11161f;
    --e-text: #ffffff;

    --e-map-invert: invert(1);

    background-color: var(--e-sec-darkest);
}
.light {
    --e-pri: #f6fff8;
    --e-sec: #eaf4f4;
    --e-sec-darker: #cce3de;
    --e-sec-darkest: #a4c3b2;
    --e-text: #000000;

    background-color: var(--e-sec);
}

* {
    transition: background-color .5s ease, color 1s ease;
}

.e-button.wide {
    width: 100%;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
}
.e-button {
    position: relative;
}

.leaflet-container {
    filter: var(--e-map-invert);
    background-color: var(--e-bkg);
    transition: filter .5s ease;
}