:root {
    --e-pri: #ffffff;
    --e-sec: #f4f4f4;
    --e-sec-darker: #d3d3d3;
    --e-sec-darkest: #c0c0c0;
    --e-text: #000000;

    --e-accent: #1e88e5;
    --e-accent-darker: #005cb2;
    --e-accent-darkest: #01488b;
    --e-accent-text: #ffffff;
}
