@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
:root {    
    --e-accent: #B98CDA;
    --e-accent-darker: #8661a0;
    --e-accent-darkest: #724b8f;
    --e-accent-text: #000000; 
}

body.dark {
    --e-pri: #21252B;
    --e-sec: #333842;
    --e-sec-darker: #282C34;
    --e-sec-darkest: #1b1e24;
    --e-text: #ffffff;

    --e-map-invert: invert(1);

    background-color: var(--e-sec-darker);
}
body.light {
    --e-pri: #f6fff8;
    --e-sec: #eaf4f4;
    --e-sec-darker: #cce3de;
    --e-sec-darkest: #a4c3b2;
    --e-text: #000000;

    --e-map-invert: invert(0);

    background-color: var(--e-sec);
}
body.promptOpen {
    overflow-y: hidden;
}

* {
    transition: background-color .2s ease, color .5s ease;
    transform: transale3d(0, 0, 0);
}
body {
    overflow-x: hidden;
}

.e-button.wide {
    width: 100%;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
}
.e-button {
    position: relative;
}
.leaflet-popup-content > span {
    color: #000000!important;
}
.leaflet-container {
    filter: var(--e-map-invert);
    transition: filter .2s ease;
}
.leaflet-marker-pane {
    filter: var(--e-map-invert);
    transition: filter .2s ease;
}

.leaflet-control-locate {
    position:sticky!important;
    float: none;
    top: 0!important;
    margin-top: 3rem!important;
    border-radius: 50%!important;
    width: 3rem;
    height: 3rem;
    background-color: var(--e-pri)!important;
    filter: var(--e-map-invert);
    box-shadow: 0px 0px 10px 0px var(--e-sec-darkest)!important;
}
.leaflet-bar-part {
    width: 100%!important;
    height: 100%!important;
    border-radius: 50%!important;
    background-color: var(--e-pri) !important;
    box-shadow: none!important;
}
.leaflet-bar-part > .fa {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #7c7c7c;
    border-radius: 50%;
    width: 50%;
    height: 50%;
}
.leaflet-control-locate.active .leaflet-bar-part>.fa {
    background-color: #2880F1!important;

}

#loginOverlay.show {
	opacity: 1;
    pointer-events: auto;
}
#loginOverlay.show > div {
    bottom: 0;
}