#page {
    margin-top: 3rem;
    margin-bottom: 5rem;
    padding: 0 1rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
ol {
    font-size: 18px;
    margin-bottom: 2rem;
    list-style-position: inside;
}

li {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

p {
    font-size: 18px;
    margin: 2rem auto;
}

hr {
    position: relative;
    border-top: solid 1px var(--e-sec-darkest);
    margin: 1rem auto;
}

hr::after {
    content: '';
    width: 1rem;
    height: 1rem;
}

section {
    padding: .5rem;
    background-color: var(--e-red);
    margin-right: auto;
    margin-left: auto;
    border: solid 1px var(--e-sec-darkest);
    border-radius: .5rem;
    box-shadow: 5px 5px 10px -5px var(--e-sec-darkest);
    display: block;
}

/* Add Location */

.addLocation {
    height: 4rem;
    border-radius: 1rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    box-sizing: border-box;
    padding: .5rem;
    background-color: var(--e-pri);
    transition: filter .2s ease, transform .2s ease, background-color .2s ease, color .5s ease;
    cursor: pointer;
}
.addLocation p {
    margin: 0 .5rem;
    font-size: 1.5rem;
}
.addLocation svg {
    width: 3rem;
    height: 3rem;
    fill: var(--e-text);
    transition: fill .5s ease;
}
.addLocation:hover {
    filter: brightness(.75);
}
.addLocation:active {
    filter: brightness(1.3);
    transform: translateY(2px);
}

.addSub {
    height: 4rem;
    border-radius: 1rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    box-sizing: border-box;
    padding: .5rem;
    background-color: var(--e-pri);
    transition: filter .2s ease,
    transform .2s ease,
    background-color .2s ease,
    color .5s ease;
}
.addSub h3 {
    margin: 0 .5rem;
    margin-left: 2.5rem;
}
.addSub p {
    margin: 0 .5rem;
    font-size: 12px;
    opacity: .75;
}
.addSub #icon {
    width: 24px;
    height: 24px;
    margin-left: .5rem;
}
.addSub span {
    margin-left: auto;
    margin-right: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    text-align: center;
}
.addSub span.v {
    background-color: var(--e-sec-darker);
}
.addSub span.v::before {
    content: 'Verficare🤔';
}
.addSub span.a {
    background-color: var(--e-accent);
}
.addSub span.a::before {
    content: 'Aprobat🤩';
}
.addSub span.r {
    background-color: var(--e-red);
}
.addSub span.r::before {
    content: 'Respins😥';
}

.addSubPreview {
    margin-right: 1rem;
    fill: var(--e-text);
    width: 1.5rem;
    background-color: var(--e-sec-darker);
    padding: .5rem 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: filter .2s ease, transform .2s ease, background-color .2s ease, color .5s ease;
}
.addSubPreview:hover {
    filter: brightness(.75);
}

.addSubPreview:active {
    filter: brightness(1.3);
    transform: translateY(2px);
}