#page {
    margin-top: 1rem;
    padding: 0 1rem;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
ol {
    font-size: 18px;
    margin-bottom: 2rem;
    list-style-position: inside;
}

li {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

p {
    font-size: 18px;
    margin: 2rem auto;
}

hr {
    position: relative;
    border-top: solid 1px var(--e-sec-darkest);
    margin: 1rem auto;
}

hr::after {
    content: '';
    width: 1rem;
    height: 1rem;
}

section {
    padding: .5rem;
    background-color: var(--e-red);
    margin-right: auto;
    margin-left: auto;
    border: solid 1px var(--e-sec-darkest);
    border-radius: .5rem;
    box-shadow: 5px 5px 10px -5px var(--e-sec-darkest);
    display: block;
}