name: Deploy Release
on:
  release:
    types: [ published ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repo
      uses: actions/checkout@master
    - name: Setup NodeJS
      uses: actions/setup-node@master
    - name: Install dependencies
      run: npm install
    - name: Build production
      run: npm run build
    - name: Archive Production Artifact
      uses: actions/upload-artifact@master
      with:
        name: build
        path: build
  
  deploy:
    name: Deploy
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master
      - name: Download Artifact
        uses: actions/download-artifact@master
        with:
          name: build
          path: build
      - name: Move build to Firebase Hosting
        run: |
          mkdir firebase/public
          cp -r build/. firebase/public/
          cd firebase
      - name: Deploy to Firebase
        uses: w9jds/firebase-action@master
        with:
            args: deploy
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
